# Ignore virtual environment
.venv/
.env

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor settings
.vscode/
.idea/


src/doonook_chinese_calendar/*/__pycache__
